<div class="container h-100">

      <form [formGroup]="aboutForm">

          <div class="row h-100 justify-content-center align-items-center">
              <div class="column">
                  <div class="card">
                    <h3>Mission</h3>
                    <p>Our mission is to encourage a harvest style of dating across the West.</p>
                    <p>Now it begins...</p>
                    <div class="form-group text-center">
                        <button class="btn btn-success" type="button" (click)="cancelAbouts()">Begin</button>
                      </div>
                  </div>
                </div>  
            
            <div class="column">
                <div class="card">
                  <h3>About Us</h3>
                  <p>Demo Site By: Tyler Gasperlin</p>
                  <p>Angular + .NetCore + Azure Storage </p>
                </div>

              </div>
            
              <div class="column">
                  <div class="card">
                    <img src="../../assets/AngularR.jpg" class="img-thumbnail" alt="">
                  </div>
                </div>

                <div class="column">
                    <div class="card">
                      <img src="../../assets/DotNetR.jpg" class="img-thumbnail" alt="">
                    </div>
                  </div>
            

            <div class="column">
                <div class="card">
                  <img src="../../assets/AzureR.jpg" class="img-thumbnail" alt="">
                </div>
              </div>

      
              <div class="column">
                <div class="card">
                  <h3>Location</h3>
                  <p>Orange County, California</p>
                </div>
              </div>
            </div>
      </form>




</div>




